footer{
    display: flex;
    justify-content: space-between;
    height: 270px;
    align-items: flex-start;
    background-color: #007e9a;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 50px 15%;
}
footer a{
    color: white;
    font-size: 13px;
    font-weight: 400;
}
footer img{
    height: 177px;
    width: 148px;
}
footer h2{
    font-size: 18px;
    margin-bottom: 20px;
}
footer li{
    margin-bottom: 10px;

}
footer h1{
    font-size: 18px;
    font-weight: 600;
}



.icons img{
    width: 40px;
    height: 40px;
}