/* меню */
.header{
    /* чтобы меню было всегда наверху */
    position: fixed;
    top: 0px;
    left: 0px;

    /* прозрачность */
    opacity: 0.8; 

    /* задний фоннын цветы и позициясы */
    background-color: #ffffff;
    background-position: center center;

    /* границы */
    border-color: transparent;
    border-style: solid;

    /* логотип пен менюнын арасында аракашыктык болу ушын */
    display: flex;
    justify-content: space-between;

    /* отступ внутренний */
    padding: 20px 15%;

    /* ширина */
    width: 100%;

    /* чтобы меню было поверх всего, т.е меню сейчас находится на 6-ом слое впереди  */
    z-index: 6;

    scroll-margin-top: 40px;
}


/* чтобы элементы меню находились друг за другом */
.menu{
    display: flex;
}


/* элементы меню , біз туралы,галерея,мугалымдер,контактылер */
.menu li{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}


/* элементы меню тоже */
.menu a{
    /* внутренний отступ */
    padding: 12px 16px;

    /* чтобы у ссылки не было линии снизу */
    text-decoration: none;

    /* аракашыктык между символами */
    letter-spacing: 1px;

    /* размер шрифта */
    font-size: 15px;

    /* чтобы элементы меню были друг за другом */
    display: flex;
    justify-content: flex-end;
    /* цвет текста */
    color: #000;
  
}


/* логотиптын ширинасы мен высотасы */
.header img{
    width: 104px;
    height: 42px;
}


/* первая страница */
.page-1{
    height: 100%;
    width: 100%;
    /* чтобы элементы находились друг под другом */
    display: flex;
    flex-direction: column;
    /* внутренний отступ */
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6%;
    padding-bottom: 3%;
    /* задний фон */
    /* задний фон */
    background-image: url(https://static.tildacdn.pro/tild6437-6536-4632-b333-303462363166/4854835.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* отступ снизу для текста h2 */
#h2-margin{
    margin-bottom: 30px;
}


/* главный жазулардыкы */
.h1-text{
    /* он жагындагы сырткы отступ */
    margin-right: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* "JOO" деген жазудыкы */
.h1-text h1{
    color: #007e9a;

    /* сыртындагы отступ */
    margin-right: 30px;

    /* размер шрифта */
    font-size: 96px;
    /* жирность текста */
    font-weight: 700;

    /* чтобы заглавными буквами было */
    text-transform: uppercase;

}


/* "ALATAU" деген жазудыкы */
.h1-text h2{
    color: #262626;
    font-size: 96px;

    /* жирность текста */
    font-weight: 700;

    /* чтобы заглавными буквами было */
    text-transform: uppercase;
}


/* осы бырыншы беттегы коллаждыкы */
.collage img{
    width: 100%;
    height: 100%;
}
