.main{
    display: flex;
    padding: 15% 15%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding-top: 60px; /* Высота пространства сверху */
    margin-top: 0px;}

.main h1{
    color: #262626;
    font-size: 30px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.35;
    font-weight: 700;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

p{
    color: #262626;
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.4;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
#bold{
    font-weight: 700;
}



.container{
    padding: 4%;
    background-color: #f0f0f0;
    border-radius: 25px;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: row;
   
}

.main img{
    border-radius: 25px;
    margin: 30px;
}